<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183124088625-k0giv7v21nuv7pvlkptaj5qvgi3goi02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183124088625-k0giv7v21nuv7pvlkptaj5qvgi3goi02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183124088625-3117bvufhn0btg7q5sepfqccjpq6g9li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqvwgD_re8Rnky2kRaX7O-GCnVS4Gbp4U</string>
	<key>GCM_SENDER_ID</key>
	<string>183124088625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evision.iOS</string>
	<key>PROJECT_ID</key>
	<string>e-vision-panama-app</string>
	<key>STORAGE_BUCKET</key>
	<string>e-vision-panama-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183124088625:ios:6c80c1853fdfe301e00210</string>
	<key>DATABASE_URL</key>
	<string>https://e-vision-panama-app.firebaseio.com</string>
</dict>
</plist>